<div class="innerfirstcontent">
    <!--<div style="position:absolute;float: right;top:10px; right:0px;">
        <a style="font-size:20px;margin-top:-18px;margin-right:-12px" (click)="BackToHome()"
           class="ui-btn ui-icon-home ui-btn-icon-right fa fa-home btn"  title="Back to Home"></a>
    </div>-->
    <div class="row no-margin">
        <div class="col-sm-11 col-xs-12 container-input">
            <!--<span>Country Name :</span>
            <div class="input-imggroup">
                <input type="text" value="" class="form-control inputbox input-img"  title="Search MarketName"  disabled placeholder="Search..." />
                <img src="content/images/search.png" />                
            </div>-->
            
        </div>
    </div>
    <!--<div *ngIf="hidden" id="popupid4" style="float:right;padding-right:550px ;">
        <div style="width:50px;height:20px">
            <img src="content/images/loading.gif" />
            <p class="loading">wait..</p>
        </div>
    </div>-->
    <div class="row no-margin">

        <div class="action-btn ">
            <!--<button id="add-btn"  title="Add CountryList"  (click)="addmarket()" class="btn">Manage Tax Territories</button>-->
            <!--<button class="btn" (click)="Edit()">Edit</button>-->

        </div>
    </div>


</div>

