<div class="urax-values">
    <div class="row">
        <urax-add-new-version></urax-add-new-version>
        <!--<urax-add-language></urax-add-language>-->
    </div>
    <!--Table accordion starts here-->
    <div class="mainTabs">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab1">Variables</a></li>
            <li><a data-toggle="tab" href="#tab2">Look-Up Tables</a></li>
            <li><a data-toggle="tab" href="#tab3">Formulas</a></li>
            <li><a data-toggle="tab" href="#tab4">Languages</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab1" class="tab-pane fade in active">
                <urax-add-variable></urax-add-variable>
            </div>
            <div id="tab2" class="tab-pane fade">
                <urax-add-lookup></urax-add-lookup>
            </div>
            <div id="tab3" class="tab-pane fade">
                <urax-add-formula></urax-add-formula>
            </div>
            <div id="tab4" class="tab-pane fade">                 
                     <urax-add-language></urax-add-language>            
            </div>
        </div>

    </div>
</div>