
        <div class="row blockBg">
            <div class=""><p (click)="BackToHome()" class="block taxComp selected" >Home</p></div>
            <div class=""><p (click)="countrymangae()" class="block taxComp">Manage Tax Territories</p></div>
            <div class=""><p (click)="taxadmin()" class="block taxComp">Manage Taxes</p></div>
            <div class=""><p (click)="PNO12()"class="block otherComp">PNO12 Fixed Parameters</p></div>
            <div class=""><p (click)="ManageUser()" class="block otherComp">Manage Users</p></div>
            <div class=""><p (click)="startpageadmin()" class="block otherComp">Manage Start Page</p></div>
        </div>



       